        .sidebar {
            position: fixed;
            top: 85px;
            left: 0;
            height: 100vh;
            width: 275px;
            padding: 25px 20px;
            background-color: #ffffff;
            border-right: 1px solid #dee2e6;
            overflow-y: auto;
        }

        .sidebar-blog-card-content {
            padding: 120px 0;
            position: relative;
            overflow: hidden;
        }

        .main-content {
            margin-left: 250px;
            padding: 30px 50px;
        }



        /* Blog link styling */
        .card-title a {
            text-decoration: none;
            color: #333;
            transition: color 0.2s ease-in-out;
        }

        .card-title a:hover {
            color: #007bff;
        }


        .sidebar h5 {
            font-weight: bold;
            margin-bottom: 20px;
        }

        .sidebar a {
            display: block;
            color: #333;
            text-decoration: none;
            padding: 6px 10px;
            border-radius: 5px;
            margin-bottom: 6px;
            transition: background 0.2s;
        }

        .sidebar a:hover {
            background-color: #f0f0f0;
        }

        .card {
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            transition: box-shadow 0.3s;
        }

        .card:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
        }

        .card img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
            height: 180px;
        }

        .card-title a {
            text-decoration: none;
            color: #333;
        }

        .card-title a:hover {
            color: #007bff;
        }

        .blog-submenu-icon {
            color: #f2652d;
        }

        .card-title a:hover {
            color: #EE6429;
        }



        @media (max-width: 768px) {
            .sidebar {
                position: relative;
                width: 100%;
                height: auto;
                border-right: none;
            }

            .main-content {
                margin-left: 0;
            }
        }